bytecode.com.pe, www.bytecode.com.pe {
    handle /api/* {
        reverse_proxy backend:4000
    }
    handle {
        reverse_proxy frontend:80
    }
}

api.bytecode.com.pe {
    reverse_proxy backend:4000
}

import /etc/caddy/conf.d/*.conf
